# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
from datetime import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pyspark.sql import SparkSession
from pyspark.sql.types import DateType
import pyspark.sql.functions as F
from pyspark.sql.functions import udf, rand
from pyspark.sql.functions import isnan, when, count, col
from pyspark.ml import Pipeline
import configparser
import psycopg2

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

df_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

print("Sparksession")

Sparksession

In [3]:

config = configparser.ConfigParser()
config.read('config.cfg')


os.environ['AWS_ACCESS_KEY_ID'] = config['AWS']['ASIARHE7BTV3DAJGBPX2']
os.environ['AWS_SECRET_ACCESS_KEY'] = config['AWS']['pitFmdcGmkpCnACRJUEujGTVXi4MzIz0L2483LQo']

KeyError: 'AWS'

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [4]:
# Read April 2016 I94 immigration data into Pandas for exploration
I94_TEST = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'

df_I94 = spark.read.format('com.github.saurfang.sas.spark').load(I94_TEST).persist()

In [5]:
# see what the data looks like
df_I94.limit(5).toPandas().head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,None,NaN,...,U,None,1979.0,10282016,None,None,None,1.897628e+09,None,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,None,1991.0,D/S,M,None,None,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,None,M,1961.0,09302016,M,None,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,None,M,1988.0,09302016,None,None,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,None,M,2012.0,09302016,None,None,AA,9.246846e+10,00199,B2

In [6]:
# see what the data formats 
df_I94.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [7]:
# how many rows 
df_I94.count()

3096313

In [8]:
#  gender distribution of the applicants
df_I94.select("gender").groupBy("gender").count().show()

+------+-------+
|gender|  count|
+------+-------+
|     F|1302743|
|  null| 414269|
|     M|1377224|
|     U|    467|
|     X|   1610|
+------+-------+

In [9]:
df_I94_count_visitors = df_I94.select("i94res").groupby("i94res").count().sort(col("count").desc()).persist()
df_I94_count_visitors.show(10)

+------+------+
|i94res| count|
+------+------+
| 135.0|368421|
| 209.0|249167|
| 245.0|185609|
| 111.0|185339|
| 582.0|179603|
| 112.0|156613|
| 276.0|136312|
| 689.0|134907|
| 438.0|112407|
| 213.0|107193|
+------+------+
only showing top 10 rows

In [10]:
# Read in the temperature data
GLTBC_TEST = '../../data2/GlobalLandTemperaturesByCity.csv'
df_GLTBC = pd.read_csv(GLTBC_TEST, sep=',')

In [11]:
# obs of temperature data
df_GLTBC.head(5)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
1,1743-12-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
2,1744-01-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
3,1744-02-01,NaN,NaN,Århus,Denmark,57.05N,10.33E
4,1744-03-01,NaN,NaN,Århus,Denmark,57.05N,10.33E

In [12]:
# how many rows 
df_GLTBC.count()

dt                               8599212
AverageTemperature               8235082
AverageTemperatureUncertainty    8235082
City                             8599212
Country                          8599212
Latitude                         8599212
Longitude                        8599212
dtype: int64

In [13]:
df_temp_UK = df_GLTBC[df_GLTBC["Country"] == "United Kingdom"]
df_temp_UK.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
38481,1743-11-01,8.758,1.886,Aberdeen,United Kingdom,57.05N,1.48W
38482,1743-12-01,NaN,NaN,Aberdeen,United Kingdom,57.05N,1.48W
38483,1744-01-01,NaN,NaN,Aberdeen,United Kingdom,57.05N,1.48W
38484,1744-02-01,NaN,NaN,Aberdeen,United Kingdom,57.05N,1.48W
38485,1744-03-01,NaN,NaN,Aberdeen,United Kingdom,57.05N,1.48W

In [14]:
# Read in the demography data set
df_demo = pd.read_csv('us-cities-demographics.csv', delimiter=';')

In [15]:
df_demo.head(5)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [16]:
# read the airport code table
df_airport_codes = pd.read_csv("./airport-codes_csv.csv")

In [17]:
df_airport_codes.head(20)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"
5,00AS,small_airport,Fulton Airport,1100.0,NaN,US,US-OK,Alex,00AS,NaN,00AS,"-97.8180194, 34.9428028"
6,00AZ,small_airport,Cordes Airport,3810.0,NaN,US,US-AZ,Cordes,00AZ,NaN,00AZ,"-112.16500091552734, 34.305599212646484"
7,00CA,small_airport,Goldstone /Gts/ Airport,3038.0,NaN,US,US-CA,Barstow,00CA,NaN,00CA,"-116.888000488, 35.350498199499995"
8,00CL,small_airport,Williams Ag Airport,87.0,NaN,US,US-CA,Biggs,00CL,NaN,00CL,"-121.763427, 39.427188"
9,00CN,heliport,Kitchen Creek Helibase Heliport,3350.0,NaN,US,US-CA,Pine Valley,00CN,NaN,00CN,"-116.4597417, 32.7273736"
10,00CO,closed,Cass Field,4830.0,NaN,US,US-CO,Briggsdale,NaN,NaN,NaN,"-104.344002, 40.622202"
11,00FA,small_airport,Grass Patch Airport,53.0,NaN,US,US-FL,Bushnell,00FA,NaN,00FA,"-82.21900177001953, 28.64550018310547"
12,00FD,heliport,Ringhaver Heliport,25.0,NaN,US,US-FL,Riverview,00FD,NaN,00FD,"-82.34539794921875, 28.846599578857422"
13,00FL,small_airport,River Oak Airport,35.0,NaN,US,US-FL,Okeechobee,00FL,NaN,00FL,"-80.96920013427734, 27.230899810791016"
14,00GA,small_airport,Lt World Airport,700.0,NaN,US,US-GA,Lithonia,00GA,NaN,00GA,"-84.06829833984375, 33.76750183105469"
15,00GE,heliport,Caffrey Heliport,957.0,NaN,US,US-GA,Hiram,00GE,NaN,00GE,"-84.73390197753906, 33.88420104980469"
16,00HI,heliport,Kaupulehu Heliport,43.0,NaN,US,US-HI,Kailua/Kona,00HI,NaN,00HI,"-155.980233, 19.832715"
17,00ID,small_airport,Delta Shores Airport,2064.0,NaN,US,US-ID,Clark Fork,00ID,NaN,00ID,"-116.21399688720703, 48.145301818847656"
18,00IG,small_airport,Goltl Airport,3359.0,NaN,US,US-KS,McDonald,00IG,NaN,00IG,"-101.395994, 39.724028"
19,00II,heliport,Bailey Generation Station Heliport,600.0,NaN,US,US-IN,Chesterton,00II,NaN,00II,"-87.122802734375, 41.644500732421875"

In [18]:
#write to parquet
imm_data = spark.read.parquet("sas_data")
print(imm_data.count())
imm_data.limit(10).toPandas()

3096313

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,5748517.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,CA,20582.0,...,None,M,1976.0,10292016,F,None,QF,9.495387e+10,00011,B1
1,5748518.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,NV,20591.0,...,None,M,1984.0,10292016,F,None,VA,9.495562e+10,00007,B1
2,5748519.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20582.0,...,None,M,1987.0,10292016,M,None,DL,9.495641e+10,00040,B1
3,5748520.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20588.0,...,None,M,1987.0,10292016,F,None,DL,9.495645e+10,00040,B1
4,5748521.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20588.0,...,None,M,1988.0,10292016,M,None,DL,9.495639e+10,00040,B1
5,5748522.0,2016.0,4.0,245.0,464.0,HHW,20574.0,1.0,HI,20579.0,...,None,M,1959.0,10292016,M,None,NZ,9.498180e+10,00010,B2
6,5748523.0,2016.0,4.0,245.0,464.0,HHW,20574.0,1.0,HI,20586.0,...,None,M,1950.0,10292016,F,None,NZ,9.497969e+10,00010,B2
7,5748524.0,2016.0,4.0,245.0,464.0,HHW,20574.0,1.0,HI,20586.0,...,None,M,1975.0,10292016,F,None,NZ,9.497975e+10,00010,B2
8,5748525.0,2016.0,4.0,245.0,464.0,HOU,20574.0,1.0,FL,20581.0,...,None,M,1989.0,10292016,M,None,NZ,9.497325e+10,00028,B2
9,5748526.0,2016.0,4.0,245.0,464.0,LOS,20574.0,1.0,CA,20581.0,...,None,M,1990.0,10292016,F,None,NZ,9.501355e+10,00002,B2

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [19]:
# Performing cleaning tasks here
# Count now 
now_df_I94 = df_I94.count()
now_df_I94

# drop dups
df_I94 = df_I94.drop_duplicates()

# count after deduped
deduped_df_I94 = df_I94.count()
deduped_df_I94

# No dups

3096313

In [20]:
# how many have null
df_I94.na.fill(False).count()

# No null

3096313

In [21]:
df_airport_codes.describe()

       elevation_ft
count  48069.000000
mean    1240.789677
std     1602.363459
min    -1266.000000
25%      205.000000
50%      718.000000
75%     1497.000000
max    22000.000000

In [22]:
df_GLTBC.describe()

       AverageTemperature  AverageTemperatureUncertainty
count        8.235082e+06                   8.235082e+06
mean         1.672743e+01                   1.028575e+00
std          1.035344e+01                   1.129733e+00
min         -4.270400e+01                   3.400000e-02
25%          1.029900e+01                   3.370000e-01
50%          1.883100e+01                   5.910000e-01
75%          2.521000e+01                   1.349000e+00
max          3.965100e+01                   1.539600e+01

In [23]:
# Count now 
now_df_GLTBC= df_GLTBC.count()
now_df_GLTBC

# drop dups
df_GLTBC = df_GLTBC.drop_duplicates()

# count after deduped
deduped_df_GLTBC = df_GLTBC.count()
deduped_df_GLTBC

dt                               8599212
AverageTemperature               8235082
AverageTemperatureUncertainty    8235082
City                             8599212
Country                          8599212
Latitude                         8599212
Longitude                        8599212
dtype: int64

In [24]:
# clear missing temperature values
df_GLTBC.dropna(inplace=True)
df_GLTBC.head(20)

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1743-11-01,6.068,1.737,Århus,Denmark,57.05N,10.33E
5,1744-04-01,5.788,3.624,Århus,Denmark,57.05N,10.33E
6,1744-05-01,10.644,1.283,Århus,Denmark,57.05N,10.33E
7,1744-06-01,14.051,1.347,Århus,Denmark,57.05N,10.33E
8,1744-07-01,16.082,1.396,Århus,Denmark,57.05N,10.33E
10,1744-09-01,12.781,1.454,Århus,Denmark,57.05N,10.33E
11,1744-10-01,7.950,1.630,Århus,Denmark,57.05N,10.33E
12,1744-11-01,4.639,1.302,Århus,Denmark,57.05N,10.33E
13,1744-12-01,0.122,1.756,Århus,Denmark,57.05N,10.33E
14,1745-01-01,-1.333,1.642,Århus,Denmark,57.05N,10.33E
15,1745-02-01,-2.732,1.358,Århus,Denmark,57.05N,10.33E
16,1745-03-01,0.129,1.088,Århus,Denmark,57.05N,10.33E
17,1745-04-01,4.042,1.138,Århus,Denmark,57.05N,10.33E
74,1750-01-01,1.699,1.013,Århus,Denmark,57.05N,10.33E
75,1750-02-01,3.961,2.361,Århus,Denmark,57.05N,10.33E
76,1750-03-01,5.182,3.480,Århus,Denmark,57.05N,10.33E
77,1750-04-01,7.197,0.732,Århus,Denmark,57.05N,10.33E
78,1750-05-01,10.634,1.351,Århus,Denmark,57.05N,10.33E
79,1750-06-01,14.913,1.181,Århus,Denmark,57.05N,10.33E
80,1750-07-01,17.831,1.220,Århus,Denmark,57.05N,10.33E

In [25]:
df_airport_codes.dropna(subset=['iata_code'], inplace=True)
df_airport_codes.head(20)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
223,03N,small_airport,Utirik Airport,4.0,OC,MH,MH-UTI,Utirik Island,K03N,UTK,03N,"169.852005, 11.222"
440,07FA,small_airport,Ocean Reef Club Airport,8.0,NaN,US,US-FL,Key Largo,07FA,OCA,07FA,"-80.274803161621, 25.325399398804"
594,0AK,small_airport,Pilot Station Airport,305.0,NaN,US,US-AK,Pilot Station,NaN,PQS,0AK,"-162.899994, 61.934601"
673,0CO2,small_airport,Crested Butte Airpark,8980.0,NaN,US,US-CO,Crested Butte,0CO2,CSE,0CO2,"-106.928341, 38.851918"
1088,0TE7,small_airport,LBJ Ranch Airport,1515.0,NaN,US,US-TX,Johnson City,0TE7,JCY,0TE7,"-98.62249755859999, 30.251800537100003"
1402,13MA,small_airport,Metropolitan Airport,418.0,NaN,US,US-MA,Palmer,13MA,PMX,13MA,"-72.31140136719999, 42.223300933800004"
1438,13Z,seaplane_base,Loring Seaplane Base,0.0,NaN,US,US-AK,Loring,13Z,WLR,13Z,"-131.636993408, 55.6012992859"
1555,16A,small_airport,Nunapitchuk Airport,12.0,NaN,US,US-AK,Nunapitchuk,PPIT,NUP,16A,"-162.440454, 60.905591"
1574,16K,seaplane_base,Port Alice Seaplane Base,0.0,NaN,US,US-AK,Port Alice,16K,PTC,16K,"-133.597, 55.803"
1722,19AK,small_airport,Icy Bay Airport,50.0,NaN,US,US-AK,Icy Bay,19AK,ICY,19AK,"-141.662002563, 59.96900177"
1758,19P,seaplane_base,Port Protection Seaplane Base,0.0,NaN,US,US-AK,Port Protection,19P,PPV,19P,"-133.61000061035, 56.328800201416"
1984,1KC,small_airport,Kalakaket Creek AS Airport,1598.0,NaN,US,US-AK,Kalakaket Creek,1KC,KKK,1KC,"-156.820392609, 64.4166256967"
2170,1O6,small_airport,Dunsmuir Muni-Mott Airport,3258.0,NaN,US,US-CA,Dunsmuir,KMHS,MHS,1O6,"-122.272003, 41.263199"
2383,1Z1,small_airport,Grand Canyon Bar Ten Airstrip,4100.0,NaN,US,US-AZ,Whitmore,NaN,GCT,1Z1,"-113.231003, 36.259701"
2384,1Z9,seaplane_base,Ellamar Seaplane Base,0.0,NaN,US,US-AK,Ellamar,NaN,ELW,1Z9,"-146.704038, 60.893818"
2968,2AK,small_airport,Lime Village Airport,552.0,NaN,US,US-AK,Lime Village,2AK,LVD,2AK,"-155.440002441, 61.3591003418"
2972,2AK3,heliport,Five Finger CG Heliport,48.0,NaN,US,US-AK,Five Finger,2AK3,FIV,2AK3,"-133.630996704, 57.26990127559999"
2975,2AK6,small_airport,Hog River Airport,534.0,NaN,US,US-AK,Hogatza,2AK6,HGZ,2AK6,"-155.6690063, 66.2161026"
3143,2IG4,small_airport,Ed-Air Airport,426.0,NaN,US,US-IN,Oaktown,I20,OTN,I20,"-87.4997024536, 38.851398468"
3195,2K5,small_airport,Telida Airport,650.0,NaN,US,US-AK,Telida,2K5,TLF,2K5,"-153.26899719238, 63.393901824951"

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

In [ ]:
# 1.Clean I94 data  
# 2.Clean temperature data 
# 3.Create imm table

In [25]:
# Get port locations from SAS text file
with open("./I94_SAS_Labels_Descriptions.SAS") as f:
    content = f.readlines()
content = [x.strip() for x in content]
ports = content[302:962]
splitted_ports = [port.split("=") for port in ports]
port_codes = [x[0].replace("'","").strip() for x in splitted_ports]
port_locations = [x[1].replace("'","").strip() for x in splitted_ports]
port_cities = [x.split(",")[0] for x in port_locations]
port_states = [x.split(",")[-1] for x in port_locations]
df_port_locations = pd.DataFrame({"port_code" : port_codes, "port_city": port_cities, "port_state": port_states})
df_port_locations.head(20)

   port_code                 port_city port_state
0        ALC                     ALCAN         AK
1        ANC                 ANCHORAGE         AK
2        BAR  BAKER AAF - BAKER ISLAND         AK
3        DAC             DALTONS CACHE         AK
4        PIZ    DEW STATION PT LAY DEW         AK
5        DTH              DUTCH HARBOR         AK
6        EGL                     EAGLE         AK
7        FRB                 FAIRBANKS         AK
8        HOM                     HOMER         AK
9        HYD                     HYDER         AK
10       JUN                    JUNEAU         AK
11       5KE                 KETCHIKAN         AK
12       KET                 KETCHIKAN         AK
13       MOS  MOSES POINT INTERMEDIATE         AK
14       NIK                   NIKISKI         AK
15       NOM                       NOM         AK
16       PKC               POKER CREEK         AK
17       ORI            PORT LIONS SPB         AK
18       SKA                   SKAGWAY         AK
19       SNP           ST. PAUL ISLAND         AK

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [26]:
# Write code here

# Extract columns for immigration dimension table
imm_table = df_I94.select(["i94yr", "i94mon", "i94cit", "i94port", "arrdate", "i94mode", "depdate", "i94visa"])

# Write immigration dimension table to parquet files partitioned by i94port
imm_table.write.mode("append").partitionBy("i94port").parquet("/results/immigration.parquet")

In [ ]:
# Extract columns for temperature dimension table
tem_table = df_GLTBC.loc(["AverageTemperature", "City", "Country", "Latitude", "Longitude", "i94port"])
# Write temperature dimension table to parquet files partitioned by i94port
tem_table.write.mode("append").partitionBy("i94port").parquet("/results/temperature.parquet")

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.